<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @host.hostname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @host.description %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @host.ip %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @host.cpu %>
</p>

<p>
  <strong>Mem:</strong>
  <%= @host.mem %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @host.storage %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
