<%= form_for(@device_laptop) do |f| %>
  <% if @device_laptop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_laptop.errors.count, "error") %> prohibited this device_laptop from being saved:</h2>

      <ul>
      <% @device_laptop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :cpu %><br>
    <%= f.text_field :cpu %>
  </div>
  <div class="field">
    <%= f.label :ram %><br>
    <%= f.text_field :ram %>
  </div>
  <div class="field">
    <%= f.label :disk %><br>
    <%= f.text_field :disk %>
  </div>
  <div class="field">
    <%= f.label :graphics %><br>
    <%= f.text_field :graphics %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
